<html>
	<head>
	   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
	   <title>Charity Volunteer Landing</title>
	</head>
   <body>
      <h1>Hello, Matt!</h1>
	  <h2>Enter a new donation:</h2>
      <form action = "/Donation" method = "post">
         Name:
		 <input type = "text" name = "name" />
         Quantity: 
		 <input type = "text" name = "qty" />
         Donator: 
		 <input type = "text" name = "donator" />
         <input type = "submit" value = "Add" /><br/>
	  </form>
	  <h2>Current Donations</h2>
	  <table border = 1>
		<tr>
			<td><b>Name</b></td>
			<td><b>Quantity</b></td>
			<td><b>Donator</b></td>
			<td><b>Date</b></td>
			<td><b>Delete?</b></td>
		</tr>
		{% for row in data %}
		<tr>
			<td>{{ row.donationName }}</td>
			<td>{{ row.quantity }}</td>
			<td>{{ row.donator }}</td>
			<td>{{ row.date }}</td>
			<td><form action="/Donation" method="post">
					<input type="hidden" name="delete" value="{{ row.donationId }}" />
					<input type="submit" value="Delete"/>
				</form>
			</td>
		</tr>
		{% endfor %}
	  </table>
	  <br/>
	  <a href='../'>Logout</a>
   </body>
</html> 
