<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
      <title>Charity Web Login</title>
   </head>
   <body>
      <form action = "/Donation" method = "post">
         <h2>Enter info:</h2>
         <p><input type = "text" name = "nm" /></p>
         <p><input type = "password" name = "nmp" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <a href="/carlos">carlos' page</a>
   </body>
</html>
