{% extends "base.html" %}
{% block body %}
<script src="../static/sorttable.js"></script>
<div class="card-body">
  <div class="container">
    <h1>This page is for outgoing donations</h1>
    <h2>Start an outgoing donation</h2>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Choose Recipient</label>
      <form action="/outgoing-donation" method = "post" id='newDonation'>
      <select name="recipient" class="custom-select custom-select-sm" id="exampleFormControlSelect2">
      {% for row in people %}
        <option value={{row.RE_NUM}} SELECTED>  {{row.RE_NAME}} </option>
      {% endfor %}
      </select><br/>
      <input type = "submit" value="Start Donation"/>
      </form>
      <a href={{ url_for('recipients_info') }} class="badge badge-danger">Register New Recipient</a>
    </div>

    </br>
    <div class="form-group">
      <h2>Add items to active donation</h2>
      <form action = "/outgoing-donation" method = "post">
         Donation:
		 <input type = "text" name = "donation"  />
         Item: 
		 <input type = "text" name = "item" />
         Quantity: 
		 <input type = "text" name = "qty" value="1" />
         <input type = "submit" value = "Add" /><br/>
	  </form>
    </div>
    <div class="form-group">
      <h2>Active outgoing donations</h2>
      <table class="table">
        <tr>
          <td><b>Recipient</b></td>
          <td><b>Date</b></td>
          <td><b>Item</b></td>
          <td><b>Quantity</b></td>
          <td><b>Edit?</b></td>
          <td><b>Send?</b></td>
          <td><b>Delete?</b></td>
        </tr>
        {% for row in data %}
        <tr>
          <td>{{ row.outgoingRecipient}}</td>
          <td>{{ row.outgoingDate}}</td>
          <td>{{ row.donator }}</td>
          <td>{{ row.date }}</td>
          <td><form action="/AddOutDonation" method="post">
              <input type="hidden" name="edit" value="{{ row.outgoingId }}" />
              <input type="submit" value="Edit"/>
            </form>
          </td>
          <td><form action="/outgoing-donation" method="post">
              <input type="hidden" name="delete" value="{{ row.outgoingId}}" />
              <input type="submit" value="Send"/>
            </form>
          </td>
          <td><form action="/outgoing-donation" method="post">
              <input type="hidden" name="delete" value="{{ row.outgoingId}}" />
              <input type="submit" value="Delete"/>
            </form>
          </td>
        </tr>
        {% endfor %}
        </table>
    </br>
      <form action="/outgoing_donations">
        <input type="submit" class="btn btn-primary btn-lg" value="submit">
      </form>
    </div>
  </div>
</div>

{% endblock %}
